name: Loan Default ML CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Check Streamlit App Syntax
      run: |
        python -m py_compile app.py

    - name: Test Model Loading
      run: |
        python - <<EOF
        import joblib
        model = joblib.load("model.pkl")
        print("Model Loaded Successfully")
        EOF
